bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
Dijkstar==2.5.0
idna==2.10
joblib==1.0.1
numpy==1.20.1
pyarmor==6.6.2
pyserial==3.5
python-engineio==3.14.2
python-socketio==5.0.0
requests==2.25.1
scikit-learn @ git+git://github.com/rednodelabs/scikit-learn@ddbc560603a6633b97fefeb2f2adfcfdf6bb0417
scipy==1.6.1
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.26.3
